body {
    font-size: 16px;
    font-family: sans-serif;
    color: rgba(45, 57, 76, 0.839);
}
a {
    text-decoration: none;
}
.wrapper {
    max-width: 90%;
    margin: 0 auto;
}
/* Flex center space-between */
.flex_csb {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
/* Flex start space-between */

.flex_ssb {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

/* --------------------------Menu-------------------------- */
.head_menu {
    height: 87px;
}
.ld_menu a{
    color: rgba(45, 57, 76, 0.839);
}
.ld_menu {
    min-width: 35%;
}

/* --------------------------Track Next-------------------------- */
.ld_track_next {
    background: url(../img/Clouds.png) #65aad9 75% 25% no-repeat;
}
.ld_tn_form {
    color: #ffffff;
    margin: 240px 0 0 0;
}

.ld_tn_form h1 {
    font-size: 52px;
    font-weight: 400;
}

.ld_tn_form h3 {
    font-size: 24px;
    margin: 35px 0 60px 0;
}

.ld_tn_form h4 {
    margin: 0 0 40px 0;
}

.ld_tn_form h4 span {
    padding: 6px;
    background: #ffce54;
    border-radius: 5px;
}

.ld_tn_input {
    height: 54px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    padding-left: 15px;
    border-radius: 5px;
    border: #ffffff;
    outline: #ffffff;
    background: #ffffff;
}
.ld_tn_button {
    height: 54px;
    max-width: 113px;
    width: 100%;
    box-sizing: border-box;
    margin-left: 36px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    border: #77c344;
    outline: #77c344;
    background: #77c344;
}

.ld_tn_img {
    margin: 90px 0 -4px 0;
}